*{
	margin:0;
	padding: 0;
	/*限制内边距，使盒子不会变大*/
	box-sizing:border-box;
}
body{
	margin:0 auto;
}
.contain{
	width: 1024px;
	margin:0 auto;
	position: relative;
}
.header{
	width: 1024px;
	height: 100vh;
	background: #192314;
	position: relative;
	/*overflow: hidden;*/
}
.header-text{
	width: 512px;
	height: 200px;
	position: absolute;
	left: 93px;
	top:140px;
	color: #fff;
}
.w1{
	height: 24px;
	font-size: 10px;
	letter-spacing: 3.75px;
}
.w2{
	height: 60px;
	font-size: 30px;
	margin:24px 0;
	letter-spacing: 2.75px;
	font-family: SimHei,"黑体", Hiragino Sans GB, "冬青黑体", sans-serif;
}
.w3{
	width: 300px;
	height: 21px;
	font-size: 8px;
	margin-bottom: 19px;
}
.tip{
	width: 300px;
	height: 41px;
	background:rgba(255,255,255,0.1);
	margin-top: 30px;
	padding: 5px 30px;
}
a{
	font-size: 10px;
	margin:8px 0;
	color: #fff;
	text-decoration: none;
	letter-spacing: 3.75px;
}
.header-pic{
	width: 653px;
	height: 450px;
	float: right;
	background: url(green-beosound-shape-desktop.jpg);
	background-size: 100% auto;
}
.banner{
	height: 405px;
	width: 1024px;
	padding-bottom: 100px;
	background:url(img-bg-1350.jpg);
	background-size: 100% auto;
	background-position: 0 -158px;
}
.product{
	width: 710px;
	height: 352px;
	margin:0 auto;
	margin-top: -40px;
	/*position: relative;*/
	/*z-index: 100;*/
}
.product-item{
	float: left;
	width: 235px;
	height: 353px;
	position: relative;
}
.product-item img{
	width: 100%;
}
.product-item h4{
	position: absolute;
	top:15px;
	left: 20px;
	color: #fff;
}
.menu{
	width: 1024px;
	height: 57px;
	/*平铺排列*/
	display: flex;
	/*space-around项目位于各行之前之间之后都留有空白的容器内，
	space-between项目位于各行之间留有空白的容器内*/
	justify-content:space-between;
	position: absolute;
	z-index: 100;
	padding:0 16px;
}
.menu-left,.menu-right{
	width: 150px;
	height: 57px;
	color: #fff;
	text-align: center;
	line-height: 57px;
}
.menu-left{
	background: url(left.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.menu-right{
	background: url(right.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.menu-center{
	width: 215px;
	height: 57px;
	text-align: center;
	line-height: 57px;
	color: #fff;
	font-size: 20px;
}
.title{
	text-align: center;
}
.title h6{
	padding-top: 87px;
	font-size: 12px;
	font-style: normal;
	letter-spacing: 2px;
	font-weight: 400;
}
.title h2{
	margin:25px 0 40px 0;
	font-weight: 500;
	font-style: normal;
	font-size: 35px;
	line-height: 60px;
	letter-spacing: 5px;
}
.sixpic{
	display: flex;
	flex-wrap:wrap;
	margin: 0 auto;
}
.picture{
	width: 512px;
	height: 512px;
	border: 1px #000 solid;
	position: relative;
}
.picture:nth-child(1){
	background:url(beolab-50-mobile.jpg);
	background-size: 100%;
}
.picture:nth-child(2){
	background:url(beoplay-p6-categories-mobile-2.jpg);
	background-size: 100%;
}
.picture:nth-child(3){
	background:url(beosound-core-mobile.jpg);
	background-size: cover;
}
.picture:nth-child(4){
	background:url(beovision-eclipse-mobile.jpg);
	background-size: 100%;
}
.picture:nth-child(5){
	background:url(beoplay-h9i-mobile.jpg);
	background-size: 100%;
}
.picture:nth-child(6){
	background:url(beosound-shape-mobile.jpg);
	background-size: 100%;
}
.picture h5{
	position: absolute;
	top: 40px;
	left: 40px;
	color: #fff;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 2px;
}
.story{
	display: flex;
	margin: 0 auto;
	width: 712px;
	height: 364px;
}
.story-one{
	background: url(design-as-a-group-effort-01.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 178px;
	height: 364px;
}
.story-one h5{
	margin-top: 178px;
	opacity:0.6;
}
.story-two{
	background: url(the-krane.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 178px;
	height: 364px;
	position: relative;
}
.story-two h5{
	margin-top: 178px;
	opacity:0.6;
}
.story-three{
	background: url(harmonies-story.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 356px;
	height: 364px;
}
.story-three h5{
	margin-top: 178px;
	opacity:0.6;
}
